@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        object-fit: cover
        width: 100%

@media (max-width: 992px)
  .container
    max-width: 700px
    .navbar
      &-top
        padding-top: 30px
        padding-bottom: 30px
      &-bottom
        padding-top: 22px
        padding-bottom: 22px
      &__search
        margin-left: auto
      &-menu
        &__link
          font-size: 12px
          line-height: 15px
    .search
      &__input
        max-width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .slider
    width: 100%
  .booking
    width: 340px
  .map
    width: 340px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
    .navbar
      &__search,
      &-menu,
      &__user
        display: none
      &-top
        &__menu-button
          display: flex
          width: 16px
          height: 11px
          flex-direction: column
          justify-content: space-between
          align-items: center
          border: none
          background-color: $light
          cursor: pointer
          padding: 0
    .menu-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

    .logo
      max-width: 132px
    .slider
      height: 350px

  .hotel
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__name
        flex-basis: 100%
      &__text
        width: 100%
      &__name
        margin-top: 10px
    &-right
      flex-direction: column
      min-height: 450px

  .map
    width: 100%
  .booking
    width: 100%
  .stars
    flex-basis: auto

@media (max-width: 576px)
  .logo
    width: 99px
  .slider
    height: 250px
  .hotel
    &__slider
      margin-bottom: 30px

@media (max-width: 480px)
  .container
    max-width: 95%

@media (max-width: 320px)
  .container
    max-width: 90%
