*
  box-sizing: border-box

body
  font-family: 'Muli' , sans-serif
  background-color: $secondary
body::-webkit-scrollbar
  width: 5px
body::-webkit-scrollbar-track
  background: grey
body::-webkit-scrollbar-thumb
  background-color: $primary-color
  border-radius: 10px

.booking
  font-family: Nunito , sans-serif
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.input
  background-color: #fff
  border: none
  border-radius: 4px
  height: 50px
  padding: 0 23px
.message
  background-color: #fff
  border-radius: 4px
  padding: 23px
  resize: none
  height: 125px
<<<<<<< HEAD
.invalid
  color: $primary-color
.button
  cursor: pointer
.button
  &:hover
    background-color: darken($primary-color,20% )
=======
>>>>>>> 651889e95f7daa5af72b12278c09e4c92eb0b401
